.dialogs {
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header header';
}

.title {
    grid-area: header;
}

.list {
    margin: 0;
    padding: 0;
}

.list li {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.item {
    text-decoration: none;
    color: black;
}

.item h4 {

}

textarea {
    width: 100%;
    /*height: 1rem;*/
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 1rem;
    resize: none;
}