.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    display: flex;
    align-items: center;
}

.nav a svg {
    margin-right: 1rem;
}

.item {
    text-decoration: none;
    width: 100%;
    margin-bottom: 9px;
    padding: 12px 16px!important;
    border-radius: 11px;
    color: #6c757d;
}

.item:hover {
    text-decoration: none;
    width: 100%;
    color: #000;
    margin-bottom: 9px;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.active {
    text-decoration: none;
    width: 100%;
    color: #000;
    font-weight: 600;
    margin-bottom: 9px;
    padding: 12px 16px!important;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}