.chat_item {
    width: fit-content;
}

.chat_text {
    position: relative;
    background-color: #79c7c5;
    min-height: 53px;
    display: inline-block;
    margin-bottom: 5px;
    color: #F9FBFF;
    font-size: 0.7em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
}